.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 3rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
}

.title span {
  color: var(--primary-color);
}

.title p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form input {
  width: 130%;
  height: 3rem;
  padding: 0 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  background-color: #dedede;
  transition: all 0.3s ease-in-out;
}

.form input::placeholder {
  color: #c3c3c3;
  font-size: 1rem;
  font-weight: 700;
}

.form input:focus {
  background-color: #fff;
}

.form button {
  width: 130%;
  height: 3rem;
  padding: 0 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
