.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #222222;
  color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: var(--font-poppins);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.logo h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}

.logo h1 span {
  color: var(--primary-color);
}

.sidebar ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  list-style: none;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
}

.sidebar ul li a {
  color: #fff;
  font-size: 1.2rem;
}

.footer {
  margin-top: 26rem;
}
