.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.users > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 3rem;
}

.link {
  padding: 1rem 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--primary-color);
  color: #fff;
}

.users search {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  border: 1px solid #acacac;
}

.users input {
  padding: 0 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.table {
  width: 95%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.table th,
.table td {
  padding: 0.5rem;
  text-align: center;
  font-weight: 600;
}

.table th {
  background-color: #222222;
  color: #ffffff;
}

.table td {
  border-bottom: 1px solid #000000;
  background-color: #d9d9d9;
}

@media screen and (max-width: 450px) {
  .users {
    padding: 0rem;
  }
}
